@model IEnumerable<G2_ProyectoFinal.Models.Canton>
@using Microsoft.AspNetCore.Identity

@inject SignInManager<IdentityUser> SignInManager
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Lista de cantones</h1>
@if (SignInManager.IsSignedIn(User))
    {
<p>
        <a class="btn btn-primary" asp-action="Create">+ Agregar cantón</a>
</p>
    }
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Provincia)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Provincia.Nombre)
            </td>
                @if (SignInManager.IsSignedIn(User))
                {
                    <td>
                        <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                        <a class="btn btn-success" asp-action="Details" asp-route-id="@item.Id">Detalles</a> |
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                    </td>

                }
        </tr>
}
    </tbody>
</table>
